name: Release

on:
  push:
    tags: 'v*'

jobs:
  build:
    name: Create release
    runs-on: macos-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Node.js dependencies
        run: yarn

      - name: Build binary for mac
        run: yarn electron:build:mac
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

      - name: Build binary for win
        run: yarn electron:build:win

      - name: Build binary for linux
        run: yarn electron:build:linux

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release Asset (intel mac)
        id: upload-release-asset_mac_intel
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/MarkuPrev-${{ github.ref_name }}-mac-x64.dmg
          asset_name: MarkuPrev-${{ github.ref_name }}-mac-x64.dmg
          asset_content_type: application/octet-stream

      - name: Upload Release Asset (apple silicon mac)
        id: upload-release-asset_mac_apple_silicon
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/MarkuPrev-${{ github.ref_name }}-mac-arm64.dmg
          asset_name: MarkuPrev-${{ github.ref_name }}-mac-arm64.dmg
          asset_content_type: application/octet-stream

      - name: Upload Release Asset (win)
        id: upload-release-asset_win
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/MarkuPrev-${{ github.ref_name }}-win-setup.exe
          asset_name: MarkuPrev-${{ github.ref_name }}-win-setup.exe
          asset_content_type: application/octet-stream

      - name: Upload Release Asset (linux)
        id: upload-release-asset_linux
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/MarkuPrev-${{ github.ref_name }}-linux.AppImage
          asset_name: MarkuPrev-${{ github.ref_name }}-linux.AppImage
          asset_content_type: application/octet-stream
